#root{
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 120px;
}

.nav-items >ul{
    display: flex;
    font-size: 20px;
    
}

.nav-items >ul> li{ 
   padding: 10px;
   list-style-type: none;
   margin: 0%;
   display: inline;
}

.res-container{
    display: flex;
    flex-wrap:wrap;
}

.res-card{
    margin: 5px;
    padding: 5px;;
    width: 200px;
    height: 300px;
    color: black;
    background-color: grey;

}

.res-card:hover{
 border: 2px solid black;
 cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    
    width: 190px;
}
